.status-list {
    padding: 10px;
}

.status-list h1 {
    font-family: var(--font-family);
    font-size: 22px;
}

.status-list__bar {
    display: flex;
    justify-content: space-between;
}

.status-list__title {
    margin: 10px 0 15px 0;
}

.status-list__title #line {
    margin-top: 5px;
    border: none;
    background-color: black;
    height: 1px;
}

/* small devices */
@media (min-width: 768px) {
    .status-list {
        border: 1px solid;
        border-radius: 10px;
    }
}
