.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-family);
    height: 150px;
    width: 100%;
}

.navbar__title {
    margin: 20px 0 0 20px;
    width: 250px;
    font-size: 14px;
    font-style: bold;
    color: var(--color-accent);
}

.navbar__links {
    display: none;
}

.navbar__menu {
    margin: 20px 20px 0 0;
}

.navbar__menu-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 500px;

    right: 0;
    top: 150px;
    margin-top: 1rem;

    background: var(--color-accent);
    color: white;    
}

.navbar__menu-links ul {
    margin-top: 90px;
    list-style-type: none;
    text-align: center;
}

.navbar__menu-links li {
    font-size: 24px;
    padding: 40px;
    cursor: pointer;
}

/* medium sized screens and desktop */
@media (min-width: 900px) {
    .navbar__title {
        margin: 40px 0 0 40px;
        width: 400px;
        font-size: 18px;
    }

    .navbar__links {
        margin: 40px 40px 0 0;
        display: block;
        align-self: center;
    }

    .navbar__links ul {
        list-style-type: none;
    }

    .navbar__links li {
        font-size: 22px;
        display: inline-block;
        padding-left: 60px;
        cursor: pointer;
    }

    .navbar__menu {
        display: none;
    }
}
