.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-family);
    height: 150px;
}

.navbar__title {
    margin: 20px 0 0 20px;
    width: 250px;
    font-size: 14px;
    font-style: bold;
    color: var(--color-accent);
}

.navbar__menu {
    position: relative;
    margin: 20px 20px 0 0;
}

.navbar__menu-links {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-accent);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 100px;
    margin-top: 1rem;
    min-width: 200px;
    border-radius: 7px;
    color: white;
    text-align: center;
}

.navbar__menu-links ul {
    margin: auto;
    list-style-type: none;
}

.navbar__menu-links li {
    font-size: 24px;
    padding: 35px;
    cursor: pointer;
}
