.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-family);
    height: 150px;
    width: 100%;
}

.navbar__title {
    width: 300px;
    margin: 40px 0 0 40px;
    font-size: 18px;
    font-style: bold;
    color: var(--color-accent);
}

.navbar__links {
    display: none;
}

.navbar__menu {
    margin: 40px 40px 0 0;
}

.navbar__menu-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 500px;

    right: 0;
    top: 200px;
    margin-top: 1rem;

    background: var(--color-accent);
    color: white;    
}

.navbar__menu-links ul {
    margin-top: 90px;
    list-style-type: none;
    text-align: center;
}

.navbar__menu-links li {
    font-size: 22px;
    padding: 40px;
    cursor: pointer;
}

/* small devices (tablets etc.) */
@media (min-width: 768px) {
    .navbar__title {
        width: 500px;
    }

    .navbar__menu-links {
        top: 150px;
    }
}

/* medium devices */
@media (min-width: 992px) {
    .navbar__links {
        display: block;
        align-self: center;
        margin-right: 50px;
    }

    .navbar__links li {
        font-size: 22px;
        display: inline-block;
        padding-left: 50px;
        cursor: pointer;
    }

    .navbar__menu {
        display: none;
    }
}

/* large devices */
@media (min-width: 1200px) {
    .navbar__links li {
        padding-left: 100px;
    }
}

