@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --color-accent: #C95A5A;
  --color-approved: #72B24B;
  --color-pending: #EFE163;
  --color-edit: #4B81C9;
}
