.songs {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 75%;
    font-family: var(--font-family);
}

.songs__filter {
    width: 30%;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
}

.songs__filter input[type='radio'] {
    border: 4px;
    cursor: pointer;
}

.songs__sort {
    display: flex;
    margin-left: 20px;
}
/*
.songs__sort input[type='search'] {
    margin-right: auto;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
}

.songs__sort input:focus {
    outline: none;
}

.songs__sort button {
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}*/

.songs__sort-approved {
    background-color: var(--color-approved);
}

.songs__sort-pending {
    background-color: var(--color-pending);
}

.songs__list {
    margin-top: 20px;
}

/* small devices */
@media (min-width: 768px) {
    .songs {
        width: 70%;
    }

    .songs__list {
        padding: 0 20px 0 20px;
        border: 1px solid;
        border-radius: 10px;
    }
}

/* medium devices */
@media (min-width: 992px) {
    .songs {
        width: 65%;
    }

    .songs__list {
        padding: 5px 30px 5px 30px;
    }
}

/* large devices */
@media (min-width: 1200px) {
    .songs {
        width: 60%;
    }

    .songs__list {
        padding: 20px 50px 20px 50px;
    }
}